<nav class="main-nav">
  <a class="main-nav__logo">
    <img class="main-nav__img" src="../../img/icon-logo.svg" alt="Логотип">
  </a>
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Горячее</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Завтраки</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Салаты</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Закуски</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Десерты</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Напитки</a>
    </li>
    <li class="main-nav__item">
      <a href="" class="main-nav__link">Статьи</a>
    </li>
  </ul>
  <ul class="user-list">
    <li class="user-list__item">
      <a href="" class="user-list__link user-list__link--user">Вход / Регистрация</a>
    </li>
    <li class="user-list__item">
      <a href="" class="user-list__link user-list__link--info">О проекте</a>
    </li>
  </ul>
</nav>
