.slider {
  border-radius: 10px;
  box-shadow: 0px 5px 30px rgba(29, 29, 32, 0.07);
  margin-bottom: 80px;
  overflow: hidden;
  position: relative;
  &__text {
    color: #01170A;
    left: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 436px;
    z-index: 10;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  &__controls {
    bottom: 20px;
    display: flex;
    left: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translateX(-50%);
    &-item {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-button {
      background-color:#E8E8EB;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 10px;
      margin: 0;
      padding: 0;
      width: 10px;
      &--active {
        background-color: #31B768;
      }
    }
  }
}
