// Шаблон для подключения шрифтов

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('../fonts/Raleway.woff2') format('woff2'),
       url('../fonts/Raleway.woff') format('woff');
  font-weight: 400 700;
  font-display: swap;
}
